.coupon-modal {
  .modal-content {
    padding: 1rem;
  }
  .modal-header, .modal-body {
    border-top: none !important;
    border-bottom: none !important;
    .title {
      font-size: .8rem;
    }
  }
  .modal-body {
    font-size: .9rem;
    padding-top: 0;
    .button {
      margin-top: 1rem;
      border-radius: 0;
      background-color: #fff;
      color: #bb141e;
      border: 1px solid #bb141e;
    }
    .button:hover {
      box-shadow: 0 2px 8px #d4d5d9;
    }
  }
  .coupon-card {
    border: 1px solid #e4e4e4;
    padding: .8rem;
  }
  .code {
    border: 1px solid #d5d0bd;
    display: inline-block;
    padding: .2rem 1rem;
    margin-bottom: 1rem;
    background-color: #fffae6;
  }
}